footer{
    background: $lightMainColor url( "#{ $imgPath }footer-bcg-pattern.png" ) top left repeat-x;
    color: white;
    line-height: 2rem;
    font-size: 1.3rem;
    & aside{
        & h2{
            font-size: 0;
            &::before{
                content: "";
                background: transparent url("../assets/img/logo.svg") no-repeat scroll left center;
            }
        }
    }
}
.primary__cols__contact dd a{
    font-size: 20px;;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.primary__cols__sitemap h3,
.primary__cols__community h3,
.primary__cols__blog h3{
    font-weight: bold;
    font-size: 2rem;
    color: $backgroundColorFocus;
}
.primary__cols__blog h3{
    color: white;
    font-style: italic;
    font-weight: normal;
& a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    }
}
.primary__cols__sitemap,
.primary__cols__community{
    & li{
    line-height: 1.5rem;
    & a{
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        &::before{
            content: ">";
            font-family: $openSansStack;
            color: white;
            font-size: 1.4rem;
            }
        }
    }
}
.primary__cols__blog{
    & a{
        text-decoration: none;
    }
    & img{
        border-radius: 4px;
    }
    & strong{
        color: white;
    }
    & time{
        color: $backgroundColorFocus;
    }
}
.secondary{
    background-color: $darkMainColor;
}
.secondary__legals a{
    color: white;
    text-decoration: none;
}
.secondary__socials{
    & li a{
    text-decoration: none;
    font-size: 0;
    }& li a:before{
    font-family: $glyphs;
    color: white;
    font-size: 2.6rem;
    }
    &__social-facebook:before{
    content: '\f09a';
    }
    &__social-twitter:before{
    content: '\f099';
    }
    &__social-googleplus:before{
    content: '\f0d5';
    }
    &__rss-feed:before{
    content: '\f09e';
    }
}
.primary__cols__blog{
    & img{
    border-radius: 4px;
    }
}
.secondary__contener{
    &:before{
    content: "";
    }
}
