/* Modus Versus Slicing
 *
 * /sass/components/_why.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

 .why{
     width: $containerWidth;
     margin: 100px auto;
     text-align: center;
     font-family: $openSansStack;
     &__title{
         display: flex;
         flex-direction: column;
         &__modus{
             font-size: 40px;
             text-transform: uppercase;
             color: $linkColor;
             font-weight: 600;
             margin-bottom: 10px;
         }
         &__span{
             font-size: 11px;
             margin-bottom: 100px;
         }
     }
     &__img{
         background-color: $backgroundColorImage;
         width: ($containerWidth/2);
         padding : 50px 0 5px ;
         margin: 0 auto;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         & img{
             width: ($containerWidth/2);
             border-radius: 10px;
             padding: 0 5px;
         }
     }
     &__block{
         display: flex;
         flex-direction: row;
         margin: 50px 0 ;
         &__element{
             width: ($containerWidth/3);
             &:nth-of-type(2){
                 margin: 0 150px;
             }
             & h3{
                 font-weight: bold;
                 font-size: 17px;
                 margin-bottom: 50px;
             }
             & a{
                 text-decoration: underline;
                 color: red;
             }
             &__cite{
                & p{
                    background-color: white;
                    padding:  40px 50px;
                    margin-bottom: 20px;
                }
             }

         }
     }
     &__clients{
         &__title{
             font-weight: bold;
             font-size: 17px;
             float: left;
         }
         &__nav{
             font-size: 0;
             float: right;
             &__previous{
                 margin-right: 50px;
                 &::before{
                     font-size: 20px;
                     font-family: $glyphs;
                     background-color: $backgroundColorNavNext;
                     border-radius: 3px;
                     border-bottom: 4px solid $colorBorderNavNext;
                     color: $colorGlyphs;
                     content: "";
                     display: inline-block;
                     padding: 5px 10px;
                 }
             }
             &__next{
                 &::before{
                     font-size: 20px;
                     font-family: $glyphs;
                     background-color: $focusColor;
                     border-radius: 3px;
                     border-bottom: 4px solid $darkFocusColor;
                     color: $colorGlyphs;
                     content: "";
                     display: inline-block;
                     padding: 5px 10px;
                 }
             }
         }
         &__img{
             width: $containerWidth;
             & li+li{
                 margin-left: 40px;
             }
             & li{
                 margin: 0 auto;
                 display: inline-block;

             }
         }

     }
 }
