/* Modus Versus Slicing
 *
 * /sass/components/_why.scss - Non-cosmetic styles for slider
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */

 .why{
     text-align: center;
     font-family: $openSansStack;
     &__title{
         &__modus{
             font-size: 40px;
             text-transform: uppercase;
             color: $linkColor;
             font-weight: 600;
         }
         &__span{
             font-size: 11px;
         }
     }
     &__img{
         background-color: $backgroundColorImage;
         border-radius: 10px;
         & img{
             border-radius: 10px;
         }
     }
     &__block{
         &__element{
             & h3{
                 font-weight: bold;
                 font-size: 17px;
             }
             & a{
                 text-decoration: underline;
                 color: red;
             }
             &__cite{
                & p{
                    background-color: white;
                }
             }

         }
     }
     &__clients{
         &__title{
             font-weight: bold;
             font-size: 17px;
         }
         &__nav{
             font-size: 0;
             &__previous{
                 &::before{
                     font-size: 20px;
                     font-family: $glyphs;
                     background-color: $backgroundColorNavNext;
                     border-radius: 3px;
                     border-bottom: 4px solid $colorBorderNavNext;
                     color: $colorGlyphs;
                     content: "";
                 }
             }
             &__next{
                 &::before{
                     font-size: 20px;
                     font-family: $glyphs;
                     background-color: $focusColor;
                     border-radius: 3px;
                     border-bottom: 4px solid $darkFocusColor;
                     color: $colorGlyphs;
                     content: "";
                 }
             }
         }

     }
 }
